<%- include('include/header.ejs') %>

</head>

  <body>
    <div class="mainDis">
        
        <%- include('include/navigation.ejs') %>
        
        <main>
       
<form class="product-form" id="myform" enctype="multipart/form-data">
            <div class="form-control">
                <label for="Title">Title</label>     
                <input type="text" name="title" id="title" minlength="5" required>
            </div>
            <div class="form-control">
              <label for="Author">Author</label>     
              <input type="text" name="author" id="author" minlength="3" required>
           </div>
             
           <div class="form-control">
            <label for="Cat">Category</label>     

            <select name="Category" data-style="btn-info" id="category" required>
         
            </select>

          </div>
         
            <div class="form-control">         
                <label for="description">Description</label>     
             
                <textarea 
                minlength="8"
                required
                name="description" 
                id=  "description" 
                rows="5">
               </textarea>

              </div>

                <div class="form-control">
                  <label for="image">Image</label>
                  <input
                      required 
                      type="file" 
                      name="image" 
                      id="image" 
                      accept=".jpg,.png,.jpeg"
                      >
              </div>      
              <button class="btn" type="submit">Add Blog</button>
        
          </form>
            
        </main>
    </div>
    <script>
    const myform = document.getElementById('myform')
    document.addEventListener('DOMContentLoaded',()=>{
    
      fetch('http://localhost:3000/rest/fetchCatData',{
      headers:{
         Authorization: 'Bearer '+ document.cookie.split('=')[1]
      }
        }).then(
    
    
    rest => {
      if(rest.status == 500 || rest.status == 401){
      return location.href = 'http://localhost:3000/'         
      }else{
       return rest.json()
    }
    }).then(data=>{
     const category = document.getElementById('category')

      data.map(d=>{
        const op = document.createElement('option')
        op.value=d.name
        op.text = d.name
        category.appendChild(op)
      })
    })

    })   
     
     myform.addEventListener('submit',(e)=>{
     e.preventDefault();
    
     const title = document.getElementById('title').value
     const author = document.getElementById('author').value
     const cat =  document.getElementById('category').value
     const des =  document.getElementById('description').value

     const img =  document.getElementById('image').files[0]
    
     const fd = new FormData()
    

     fd.append('title',title)
     fd.append('image',img)
     fd.append('author',author)
     fd.append('cat',cat)
     fd.append('desc',des)

     fetch(
       'http://localhost:3000/rest/addBlogData',{method:'post',body:fd,headers:{
        Authorization: 'Bearer '+ document.cookie.split('=')[1]
        }})
        .then( res=>{
        if(res.status == 500 || res.status == 401){
        return location.href = 'http://localhost:3000/'         
       } else
      { alert("create sus..")
       document.getElementById('title').value = ""
       document.getElementById('author').value = ""
       document.getElementById('description').value = ""
       document.getElementById('image').value = ""
        res.json()
      }
    }).then(r=>r).catch(e=>{
    alert("somthing wrong!!")
  })})

    </script>
  
  </body>
</html>
