<%- include('include/header.ejs') %>

</head>

  <body>
    <div class="mainDis">
        
        <%- include('include/navigation.ejs') %>
        
        <main>
            
<form class="product-form" id="myform" enctype="multipart/form-data">
  <div class="form-control">
      <label for="Title">Name</label>     
      <input type="text" name="name" id="name" minlength="5" required>
  </div>
  <button class="btn" type="submit">Add Cat</button>
        
  </form>
        </main>
    </div>
    <script>
      const myform = document.getElementById('myform')
     
   
   myform.addEventListener('submit',(e)=>{
   e.preventDefault();
  
   const title = document.getElementById('name').value
  
   const fd = new FormData()
  

   fd.append('name',title)
  
       fetch('http://localhost:3000/rest/addBlogCatData',{method:'post',body:fd,headers:{
         Authorization: 'Bearer '+ document.cookie.split('=')[1]
        }
       }).then(r=>{
        if(r.status == 500 || r.status == 401){
          return location.href = 'http://localhost:3000/'         
         }
        else
           {
          r.json().then(
           res=>{
          alert(res.msg)
          document.getElementById('name').value = ""
          }).catch(e=>{
          alert("somthing wrong!!")
          })
        }
      
      })
})

  </script>

  </body>
</html>
