<%- include('include/header.ejs') %>

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  </style>
<script>
    let Catdata;
    document.addEventListener('DOMContentLoaded',()=>{
    fetch('http://localhost:3000/rest/fetchCatData',{
      headers:{
         Authorization: 'Bearer '+ document.cookie.split('=')[1]
      }
    }).then(
    
    
    rest => {
      if(rest.status == 500 || rest.status == 401){
      return location.href = 'http://localhost:3000/'         
      }
    return rest.json()
    
    }
    
    
    ).then(data => {
    Catdata = data
    if(!Catdata){
    const h1 = document.createElement("H3")
    const testNode = document.createTextNode('NO DATA FOUND')
    h1.appendChild(testNode)
    document.getElementById('tableData').appendChild(h1)
  }else{
    Catdata.map(sc =>{
      const tr = document.createElement("TR")
      
      const td1 = document.createElement("TD")
      const td2 = document.createElement("TD")
      const td3 = document.createElement("TD")
      

      const testNode = document.createTextNode(sc.name)
      
      const deletec = document.createElement('button')
      const deletetext = document.createTextNode("DELETE")
      deletec.appendChild(deletetext)
      deletec.onclick = () =>{
        fetch('http://localhost:3000/rest/deleteCatData/'+sc.name,{
          method:'delete',
          headers:{
         Authorization: 'Bearer '+ document.cookie.split('=')[1]
        }
        }).then(res=>{
       
             if(res.status == 500 || res.status == 401){
                  return location.href = 'http://localhost:3000/'         
              }
              else
              {
              tr.remove()
  
            } 
             }).catch(err=>alert("error while deleting"))
      }
      deletec.title ='delete'

      const editc = document.createElement('a')
      const editT = document.createTextNode("EDIT")
      editc.appendChild(editT)
      editc.href = 'http://localhost:3000/admin/displayAddBlogCat/id='+sc._id
      editc.title ='edit'

      td1.appendChild(testNode)
      td2.appendChild(deletec)
      td3.appendChild(editc)
      
      tr.appendChild(td1)
      tr.appendChild(td2)
      tr.appendChild(td3)
      
      document.getElementById('tableBody').appendChild(tr)
      
    })
  }
  }).catch(err=>console.log(err))
  })
  

</script>
</head>

  <body>
    <div class="mainDis">
        
        <%- include('include/navigation.ejs') %>
        
        <main>
            <div id="tableData">
              <table style="border: 1px solid black; width: 100%;">
          <caption>
            <h1>Categoery</h1>
          </caption>
                <tr>
                  <th>
                     Name 
                  </th>
                  <th colspan="2">
                    Action
                  </th>
                </tr>
                <tbody id="tableBody">


                </tbody>
              </table>

            </div>
        </main>
    </div>
  </body>
</html>
