<%- include('include/header.ejs') %>

</head>

  <body>
    <div class="mainDis">
        
        <%- include('include/navigation.ejs') %>
        
        <main>
            
<form class="product-form" id="myform" enctype="multipart/form-data">
  <div class="form-control">
      <label for="Title">Name</label>     
      <input type="text" name="name" id="name" minlength="5" required>
  </div>
  <button class="btn" type="submit">Add Cat</button>
        
  </form>
        </main>
    </div>
   
    <script>

       
    const myform = document.getElementById('myform')
      
    const urlstring = window.location.href
    const u =  urlstring.split('=')[1]
    let oldName;
        document.addEventListener('DOMContentLoaded',()=>{
          fetch('http://localhost:3000/rest/findCatByid/'+u,{
        headers:{
         Authorization: 'Bearer '+ document.cookie.split('=')[1]
       }
        }).then( rest => {
      if(rest.status == 500 || rest.status == 401){
      return location.href = 'http://localhost:3000/'         
      }else{
       return rest.json()
      }
      }).then(data=>{
        document.getElementById('name').value = data.name
        oldName = document.getElementById('name').value
      })
      })

       myform.addEventListener('submit',(e)=>{
       e.preventDefault();
  
      const newName = document.getElementById('name').value
  
     fetch('http://localhost:3000/rest/editCatData/'+oldName.trim()+'/'+newName.trim(),{method:'get', headers:{
      Authorization: 'Bearer '+ document.cookie.split('=')[1]
      }}).then(r=>{
    
    if(r.status == 500 || r.status == 401){
    
      return location.href = 'http://localhost:3000/'         
      }
      else
      { r.json().then(res=>{
         alert(res.msg)
         location.href = '/admin/displayBlogCat'
        }).catch(e=>console.log(e))
  }
  })
})

  </script>

  </body>
</html>
