<%- include('include/header.ejs') %>

</head>

  <body>
    <div class="mainDis">
        
        <%- include('include/navigation.ejs') %>
        
        <main>
       
<form class="product-form" id="myform" enctype="multipart/form-data">
            <div class="form-control">
                <label for="Title">Title</label>     
                <input type="text" name="title" id="title" minlength="5" required>
            </div>
            <div class="form-control">
              <label for="Author">Author</label>     
              <input type="text" name="author" id="author" minlength="3" required>
           </div>
             
           <div class="form-control">
            <label for="Cat">Category</label>     
            <select name="Category" data-style="btn-info" id="category" required>
            </select>
          </div>
         
            <div class="form-control">         
                <label for="description">Description</label>     
             
                <textarea 
                minlength="8"
                required
                name="description" 
                id=  "description" 
                rows="5">
               </textarea>

              </div>

                <div class="form-control">
                  <label for="image">Image</label>
                  <input
                      required 
                      type="file" 
                      name="image" 
                      id="image" 
                      accept=".jpg,.png,.jpeg"
                      >
              </div>      
              <button class="btn" type="submit">Add Blog</button>
        
          </form>

                   
        </main>
    </div>
    <script>
            const urlstring = window.location.href
            const u =  urlstring.split('=')
           document.addEventListener('DOMContentLoaded',()=>{
                
            
      fetch('http://localhost:3000/rest/fetchCatData',{
      headers:{
         Authorization: 'Bearer '+ document.cookie.split('=')[1]
      }
        }).then(
    
    
    rest => {
      if(rest.status == 500 || rest.status == 401){
      return location.href = 'http://localhost:3000/'         
      }else{
       return rest.json()
    }
    }).then(data=>{
     const category = document.getElementById('category')

      data.map(d=>{
        const op = document.createElement('option')
        op.value=d.name
        op.text = d.name
        category.appendChild(op)
      })
    })
                        
            fetch('http://localhost:3000/rest/afetchSingleData/'+u[1],
            {
              headers:{
               Authorization: 'Bearer '+ document.cookie.split('=')[1]
               }
            }).then(
            r=>{
              if(r.status == 500 || r.status == 401){
                  return location.href = 'http://localhost:3000/'         
              }
              else
              {
              r.json().then(
                data => {
                    document.getElementById('title').value = data.title
                    document.getElementById('author').value = data.author
                    document.getElementById('description').value = data.des       
                }
            ).catch(
                err => console.log(err)
            )
           }   
            }
            )  
    })

    const myform = document.getElementById('myform')
       
     
     myform.addEventListener('submit',(e)=>{
     e.preventDefault();
    
     const title = document.getElementById('title').value
     const author = document.getElementById('author').value
     const cat =  document.getElementById('category').value
     const des =  document.getElementById('description').value

     const img =  document.getElementById('image').files[0]
    
     const fd = new FormData()
    
            fd.append('id',u[1])
            fd.append('title',title)
            fd.append('image',img)
            fd.append('author',author)
            fd.append('cat',cat)
            fd.append('desc',des)

              fetch('http://localhost:3000/rest/editBlogData',
              {method:'put',body:fd,headers:{
                Authorization: 'Bearer '+ document.cookie.split('=')[1]
               }}).then(
                 r=>{
                  if(r.status == 500 || r.status == 401){
    
                  return location.href = 'http://localhost:3000/'         
                  }
                 else
                  {        
                  r.json().then(res=>{
                  alert(res.msg)
                  location.href = '/admin/displayBlog'
                  }).catch(e=>console.log(e))
                   }
                  })
              })

    </script>
  
  </body>
</html>
