<%- include('include/header.ejs') %>

<style>
  table{
    margin: 10px;
    table-layout: fixed !important;
    width: 100% !important; 
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    overflow: auto;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  </style>

<script>
  let blogData;
document.addEventListener('DOMContentLoaded',()=>{  
  fetch('http://localhost:3000/rest/afetchBlogData',{headers:{
    Authorization: 'Bearer '+ document.cookie.split('=')[1]
  }}).then(
   rest=> {if(rest.status == 500 || rest.status == 401){
    return location.href = 'http://localhost:3000/'         
    
   }
    return rest.json()
    }).then(data => {
  blogData = data
  if(!blogData){
  const h1 = document.createElement("H3")
  const testNode = document.createTextNode('NO DATA FOUND')
  h1.appendChild(testNode)
  document.getElementById('tableData').appendChild(h1)
}else{
  
  blogData.map(sc =>{
    const tr = document.createElement("TR")
    
    const td1 = document.createElement("TD")
    const td2 = document.createElement("TD")
    const td3 = document.createElement("TD")
    const cat = document.createElement("TD")
    const des = document.createElement("TD")
    const auth = document.createElement("TD")


    const testNode = document.createTextNode(sc.title)
    const authText = document.createTextNode(sc.author)
    const catText = document.createTextNode(sc.category ? sc.category.name : 'cat deleted')
    const descText = document.createTextNode(sc.des)
    
    

    const deletec = document.createElement('button')
    const deletetext = document.createTextNode("DELETE")
    deletec.appendChild(deletetext)
    deletec.onclick = () =>{
      console.log(sc._id);
      fetch('http://localhost:3000/rest/deleteBlogData/'+sc._id,{
        method:'delete',headers:{
         Authorization: 'Bearer '+ document.cookie.split('=')[1]
         }
        }).then(res=>{
        if(res.status == 500 || res.status == 401){
          return window.location.href = 'http://localhost:3000/'         
        }
        tr.remove()
      }).catch(err=>alert("error while deleting"))
    }
    deletec.title ='delete'

    const editc = document.createElement('a')
    const editT = document.createTextNode("EDIT")
    editc.appendChild(editT)
    editc.href = 'http://localhost:3000/admin/displayEditBlogPage/id='+sc._id
    editc.title ='edit'

    td1.appendChild(testNode)  
    cat.appendChild(catText)
    des.appendChild(descText)
    auth.appendChild(authText)
    td2.appendChild(deletec)
    td3.appendChild(editc)
  
    tr.appendChild(td1)
    tr.appendChild(auth)
    tr.appendChild(cat)
    tr.appendChild(des)

    tr.appendChild(td2)
    tr.appendChild(td3)
    

    document.getElementById('tableBody').appendChild(tr)
    
  })
}
}).catch(err=>console.log(err))
})


</script>

</head>



  <body>
    <div class="mainDis">
        
        <%- include('include/navigation.ejs') %>
        
        <main>
              <div class="listOfBlog">
                <div class="divTable">

                <table style="border: 1px solid black;">
                  <caption>
                    <h1>Blog</h1>
                  </caption>
                        <tr>
                          <th>
                             Name 
                          </th>
                          <th>
                            Author
                          </th>
                          <th>
                            Category
                          </th>
                          <th>
                            Description
                          </th>
                          <th colspan="2">
                            Action
                          </th>
                        </tr>
                        <tbody id="tableBody">
        
        
                        </tbody>
                      </table>
                    </div>
                
              </div>
        </main>
    </div>
  </body>
</html>
