<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            document.cookie = 'token=empty; Path=/;'
            window.location.href = 'http://localhost:3000/'
        })
    </script>
</body>
</html>