* {
  margin-left: 0px;
  margin: 0px;
}
.mainDis {
  display: flex;
  flex-direction: row;
  height: 100%;
}
nav {
  flex: 0.2;
  background-color: #50444b;
  display: flex;
  flex-direction: row;
}
main {
  flex: 0.8;
  text-align: center;
  background-color: white;
}
form {
  margin-left: 30px;
  margin-right: 30px;
}

nav > ul {
  overflow: auto;
  display: flex;
  flex-direction: column;
  color: white;
  width: 70%;
  list-style: none;
}

nav > ul > li {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
nav a {
  width: 100%;
  color: white;
  text-decoration: none;
}
nav a:active {
  background-color: beige;
  color: black;
}
.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}
.form-control input,
.form-control textarea,
.form-control select {
  border: 1px solid grey;
  border-radius: 20px !important;
}
.form-control label {
  font-size: 26px;
}
.btn {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  background-color: #50444b;
  width: 60% !important;
}
.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}
