<%- include('../include/header.ejs')  %>

</head>

<body>

    <%- include('../include/navigation.ejs')  %>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8" id="blogd">

        <h1 class="my-4">Blog</h1>

      </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
<script>

const urlstring = window.location.href
const u =  urlstring.split('=')

let bd;
document.addEventListener('DOMContentLoaded',()=>{
    fetch('http://localhost:3000/rest/fetchSingleData/'+u[1]).then(
  rest => rest.json()
).then(data => {
    bd = data;
  if(!bd){
  const h1 = document.createElement("H3")
  const testNode = document.createTextNode('NO DATA FOUND')
  h1.appendChild(testNode)
  document.getElementById('tableData').appendChild(h1)
  }else{

    const maindiv = document.createElement('div')
      
      maindiv.classList.add('card','mb-4')

      const img = document.createElement('img')
      img.className = 'card-img-top'
      img.src ='http://localhost:3000/'+bd.img
      img.alt = 'img'
      img.style = 'height: 250px'
      maindiv.appendChild(img)

      const mybody = document.createElement('div')
      mybody.className = 'card-body'
      
      const h2 = document.createElement('h2')
      h2.className = 'card-title'
      const h2text = document.createTextNode(bd.title)
      h2.appendChild(h2text)
      mybody.appendChild(h2)
      
      const p = document.createElement('p')
      p.className = 'card-text'
      const ptext = document.createTextNode(`${bd.des}`)
      p.appendChild(ptext)
      mybody.appendChild(p)
      maindiv.appendChild(mybody)

      const footer = document.createElement('div')
      footer.classList.add('card-footer','text-muted')
      const footdata = document.createTextNode(`Posted on ${bd.createdAt.slice(0,10)} by ${bd.author}`)
      footer.appendChild(footdata)
      maindiv.appendChild(footer)
      document.getElementById('blogd').appendChild(maindiv)

}
}).catch(err=>alert('somthing wents wrong'))
})

</script>

<%- include('../include/end.ejs')  %>



