<%- include('../include/header.ejs')  %>

</head>
<style>
  #blogd{
    margin-top: 20px !important;
  }
</style>
<body>

    <%- include('../include/navigation.ejs')  %>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->

      <div class="col-md-8" id="blogd">


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" id="sev" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" id="search">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- resent Widget -->
        <div class="card my-4">
          <h5 class="card-header">Recent Blog</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6" >
                <ul class="list-unstyled mb-0" id="recent">
                  
                </ul>
              </div>
            </div>
          </div>
        </div>

     

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
<script>

let blogData;
document.addEventListener('DOMContentLoaded',()=>{

  fetch('http://localhost:3000/rest/fetchRecent').then(
    data=>data.json()
  ).then(da => {
    da.map(bd=>{
      
      const li = document.createElement('li')
      const a = document.createElement('a')
      a.text = bd.title
      a.href = 'http://localhost:3000/blogDetails/'+bd.slug+'/id='+bd._id

      li.appendChild(a)
      document.getElementById('recent').appendChild(li)
    })

  }).catch(err => alert('somthing wrong..'))


  fetch('http://localhost:3000/rest/fetchBlogData').then(
  rest => rest.json()
).then(data => {
    blogData = data;
  if(!blogData){
  const h1 = document.createElement("H3")
  const testNode = document.createTextNode('NO DATA FOUND')
  h1.appendChild(testNode)
  document.getElementById('tableData').appendChild(h1)
  }else{
    blogData.map(bd=>{
      loadData(bd)
    })
  }
})})

const search = document.getElementById('search')

search.addEventListener('click' , ()=>{
  const val = document.getElementById('sev').value
  
  document.getElementById('blogd').innerHTML = ""
  
  fetch('http://localhost:3000/rest/fetchByTitle/'+val).then(
  res=>res.json()


  ).then(

  bd => {
    
      if (bd.msg) {
        const h1 = document.createElement('h1')
        const text = document.createTextNode('No Data Found')
        h1.appendChild(text)
        document.getElementById('blogd').appendChild(h1)
        
      }else{
      bd.map(
        bd=>{
      const maindiv = document.createElement('div')
      
      maindiv.classList.add('card','mb-4')
      maindiv.id = 'blogss'
      const img = document.createElement('img')
      img.className = 'card-img-top'
      img.src ='http://localhost:3000/'+bd.img
      img.alt = 'img'
      img.style = 'height: 250px'
      maindiv.appendChild(img)

      const mybody = document.createElement('div')
      mybody.className = 'card-body'
      
      const h2 = document.createElement('h2')
      h2.className = 'card-title'
      const h2text = document.createTextNode(bd.title)
      h2.appendChild(h2text)
      mybody.appendChild(h2)
      
      const p = document.createElement('p')
      p.className = 'card-text'
      const ptext = document.createTextNode(`${bd.des.slice(0,150)}...`)
      p.appendChild(ptext)
      mybody.appendChild(p)

      const detp = document.createElement('a')
      detp.classList.add('btn','btn-primary')
      const detpText = document.createTextNode('Read More...')
      detp.href = 'http://localhost:3000/blogDetails/'+bd.slug+'/id='+bd._id
      detp.appendChild(detpText)
      mybody.appendChild(detp)

      maindiv.appendChild(mybody)

      const footer = document.createElement('div')
      footer.classList.add('card-footer','text-muted')
      const footdata = document.createTextNode(`Posted on ${bd.createdAt.slice(0,10)} by ${bd.author}`)
      footer.appendChild(footdata)
      maindiv.appendChild(footer)
      document.getElementById('blogd').appendChild(maindiv)
        }
      )
      }
    }
  ).catch(
      err=> console.log(err)
  )

})



function loadData(bd) {     
    const maindiv = document.createElement('div')
      
      maindiv.classList.add('card','mb-4')
      maindiv.id = 'blogss'
      const img = document.createElement('img')
      img.className = 'card-img-top'
      img.src ='http://localhost:3000/'+bd.img
      img.alt = 'img'
      img.style = 'height: 250px'
      maindiv.appendChild(img)

      const mybody = document.createElement('div')
      mybody.className = 'card-body'
      
      const h2 = document.createElement('h2')
      h2.className = 'card-title'
      const h2text = document.createTextNode(bd.title)
      h2.appendChild(h2text)
      mybody.appendChild(h2)
      
      const p = document.createElement('p')
      p.className = 'card-text'
      const ptext = document.createTextNode(`${bd.des.slice(0,150)}...`)
      p.appendChild(ptext)
      mybody.appendChild(p)

      const detp = document.createElement('a')
      detp.classList.add('btn','btn-primary')
      const detpText = document.createTextNode('Read More...')
      detp.href = 'http://localhost:3000/blogDetails/'+bd.slug+'/id='+bd._id
      detp.appendChild(detpText)
      mybody.appendChild(detp)

      maindiv.appendChild(mybody)

      const footer = document.createElement('div')
      footer.classList.add('card-footer','text-muted')
      const footdata = document.createTextNode(`Posted on ${bd.createdAt.slice(0,10)} by ${bd.author}`)
      footer.appendChild(footdata)
      maindiv.appendChild(footer)
      document.getElementById('blogd').appendChild(maindiv)

}

</script>


  <%- include('../include/end.ejs')  %>
