<%- include('../include/header.ejs')  %>
<style>
    .container1{
        margin-top: 10%;
        display: flex;
        height: 80%;
        flex-direction: column;
        text-align: center;
    }
    input{
        width: 70%;
        border-radius: 20px;
        padding: 8px;
        margin: 10px;
    }
    label{
        font-size: large;
        font-weight: 500;
    }
    button{
        border-radius: 20px;
        width: 40%;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
       font-size: 16px;  margin-top: 10px;
    }
</style>
</head>

<body>

    <%- include('../include/navigation.ejs')  %>
    <div class="container1">
         
            <form id="myform">
                <div class="formD">

                    <label for="Email">Email</label>
         <br>
                    <input type="email" name="email" id="email" required>
    <br>
                    <label for="Password">Password</label>
             <br>
                    <input type="password" name="pass" id="pass" required>
    <br> 
                    <button type="submit">Login</button>
               
                </div>
            </form>
     
    </div>    

<script>
      const myform = document.getElementById('myform')
     
       myform.addEventListener('submit',(e)=>{
       e.preventDefault();
      
       const email = document.getElementById('email').value
       const pass = document.getElementById('pass').value
       fetch('http://localhost:3000/rest/login',{method:'post',body:JSON.stringify({
           email: email.trim(),
           pass: pass.trim(),
       }),headers:{
           'Content-Type':'application/json'
       }}).then( res=>res.json()).then(data=>{
           if(data.msg){
               alert(data.msg)
           }else{
               document.cookie = `token=${data.token};`
               window.location.href = 'http://localhost:3000/admin/displayBlog'
            }
       }).catch(e=>{
      alert("somthing wrong!!")
    })})
</script>


</body>



</html>




