<nav>
  <ul>
    <li><a href="http://localhost:3000/admin/displayBlog" onclick="callget()"> All Blogs</a></li>
    <li><a href="http://localhost:3000/admin/displayAddBlog"> Add New Blog</a></li>
    <li><a href="http://localhost:3000/admin/displayBlogCat"> All Categories</a></li>
    <li><a href="http://localhost:3000/admin/displayAddBlogCat"> Add New Category</a></li>
    <li><a href="http://localhost:3000/admin/logout"> Logout</a></li>
  </ul>
</nav>
